<div class="tables">
    <table class="table table-hover tab-pane fade show active">
        <thead>
            <tr>
                <th scope="col" class="text-center">選択</th>
                <th scope="col" class="text-center">コメント</th>
                <th scope="col"><%= sort_link(@q, :name, "タイトル") %></th>
                <th scope="col"><%= sort_link(@q, :url, "URL") %></th>
                <th scope="col"><%= sort_link(@q, :description, "概要") %></th>
                <th scope="col" class="none"><%= sort_link(@q, :category, "カテゴリ") %></th>
                <th scope="col" class="none"><%= sort_link(@q, :updated_at, "日時") %></th>
            </tr>
        </thead>
        <tbody data-t>
            <%= form_with model: [@users, @contents], url: user_contents_path, method: :delete, local: true do |f| %>
                <% @contents.each do |content| %>
                    <%  comment = Comment.where(content_id: content.id) %>
                    <% @count += 1%>
                    <tr>
                        <td>
                            <%= f.check_box :content_ids, {type: 'checkbox', class: 'checkbox-select', id: "checkbox#{@count}", multiple: true}, content.id %>
                            <%= f.label :'', for: "checkbox#{@count}",class: 'select-label', id: "select_delete_label#{@count}" %>
                        </td>
                        <td class="text-center">
                            <%= link_to time_line_path(content.id) do %>
                                <% if comment.exists? %>
                                    <i class="fas fa-comment fa-2x text-secondary"></i> <%= comment.count %>
                                <% else %>
                                    <i class="far fa-comment fa-2x text-secondary"></i>
                                <% end %>
                            <% end %>
                        </td>
                        <td> <%= link_to content.name, user_content_path(@user, content) %> </td>
                        <td> <%= link_to 'URL', content.url %> </td>
                        <%#概要は空白の場合の処理も記載%>
                        <td><%= link_to content.description.blank? ? 'None' : content.description, user_content_path(@user, content), class: 'td_description d-block' %></td>


                        <%#カテゴリーは空白の場合の処理も記載%>
                        <td class="none"><%= link_to content.category.blank? ? 'None' : content.category, user_content_path(@user, content) %></td>
                        <td class="none"><%= link_to content.updated_at.to_s(:datetime_jp), user_content_path(@user, content) %></td>
                    </tr>
                <% end %>

                <%#SVG Delete==========================%>
                <%= f.button user_select_destroy_path, method: :delete, data: {confirm: "ブックマークを削除します"},class: 'select_submit',local: true do %>
                    <i class="fas fa-minus-circle fa-4x delete" data-toggle="tooltip" title="ブックマークの削除"></i>
                <% end %>
            <% end %>
        </tbody>
    </table>
            <%#ページネーション%>
        <div class="my-3 paginate">
            <%= paginate @contents %>
        </div>
</div>