<div class="container-sm index">

 <%#ユーザー=============================%>
    <section>
        <div class="row user-profile">
            <div class="col-md-3 user-introduction">
                <%= image_tag 'IMG_3016.JPG',class: 'user_image' %>
            </div>
            <div class="user-discription col-md-8">
                <h2>USER_NAME</h2>
                <p>R2.2からRubyとRails学習開始。エンジニアになることが目標です。
                家族とプログラミングが大好きです。普段は製造業の品質関係に携わっています。
                ゆるゆるとプログラミングと学習内容について呟きます。プログラミング仲間募集中です！
                気軽に絡んでください目が笑っている笑顔※勧誘系DMは返せません
                日々、一歩ずつでも絶対に前進して行く！</p>
                <div class="row">
                    <div class="col-md-3 follow">
                        フォロー
                    </div>
                    <div class="col-md-3 follower">
                        フォロワー
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary user-edit-btn">編集</button>
        </div>
    </section>

 <%#検索=============================%>
    <section class="search-section">
        <form class="search-container" action="//llamaswill.tumblr.com/search">
            <input id="search-box" type="text" class="search-box" name="q" />
            <label for="search-box"><i class="fas fa-search search-icon"></i></label>
            <input type="submit" id="search-submit" />
        </form>
    </section>
 <%#テーブル=============================%>
    <section class="tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">URL</th>
                    <th scope="col">概要</th>
                    <th scope="col">カテゴリー</th>
                    <th scope="col">日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Twitter</th>
                    <td><a href="#">URL</a></td>
                    <td>SNS</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">github</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>ソフトウェア開発ツール</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="指定したリンク先">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
                <tr>
                    <th scope="row">Qiita</th>
                    <td><a href="#">URL</a></td>
                    <td>プログラミング情報共有</td>
                    <td>プログラミング</td>
                    <td>2020.4.28</td>
                </tr>
            </tbody>
    </table>
    </section>


 <%#SVG +==========================%>
    <%= link_to new_content_path do %>
        <%= embedded_svg('plus.svg', class: "plus")%>
    <% end %>

 <%#SVG T====================%>
 <%#SVG Timeline機能未実装====================%>
    <%= link_to new_content_path do %>
        <%= embedded_svg('timeline.svg', class: "timeline")%>
    <% end %>
</div>
