<div class="container-sm index">
    <% if flash.notice.present?%>
        <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <%end%>

 <%#ユーザー=============================%>
    <section>
        <div class="row user-profile">
            <div class="col-md-3">
                <% if current_user.user_image.attached? %>
                    <%= image_tag current_user.user_image.variant(resize:'200x200',border:'10').processed, class: 'user_image' %>
                <% else %>
                    <%= image_tag("user_default.jpeg", :size => "150x150",class: 'default_image') %>
                <% end %>
            </div>
            <div class="col-md-8 user-discription">
                <h2><%= current_user.name %></h2>
                <p><%= current_user.introduction %></p>
                <div class="row">
                    <div class="col-md-3 follow">
                        フォロー
                    </div>
                    <div class="col-md-3 follower">
                        フォロワー
                    </div>
                </div>
            </div>
            <%= link_to '編集', edit_user_url(current_user), class: 'btn btn-secondary user-edit-btn' %>
        </div>
    </section>

 <%#検索=============================%>
    <section class="search-section">
			<%= search_form_for @q , url: user_contents_path do |f| %>
					<%= f.search_field :name_or_description_or_category_cont, id: 'search-box', class: 'search-box' %>
					<%= f.label :name, for: 'search-box' do %>
                <i class="fas fa-search search-icon"></i>
            <% end %>
			<%= f.submit "検索", id: 'search-submit' %>
        <% end %>
    </section>
 <%#テーブル=============================%>
    <section class="tables">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">選択</th>
                    <th scope="col"><%= sort_link(@q, :name, "タイトル") %></th>
                    <th scope="col"><%= sort_link(@q, :url, "URL") %></th>
                    <th scope="col"><%= sort_link(@q, :description, "概要") %></th>
                    <th scope="col"><%= sort_link(@q, :category, "カテゴリ") %></th>
                    <th scope="col"><%= sort_link(@q, :updated_at, "日時") %></th>
                </tr>
            </thead>
            <tbody data-t>
                <%= form_with model: [@users, @contents], url: user_contents_path, method: :delete, local: true do |f| %>
                    <% @user.each do |user| %>
                        <% @contents.each do |content| %>
                        <% @count += 1%>
                        <tr>
                        <td>
                            <%= f.check_box :content_ids, {type: 'checkbox', class: 'checkbox-select', id: "checkbox#{@count}", multiple: true}, content.id %>
                            <%= f.label :'', for: "checkbox#{@count}",class: 'select-label', id: "select_delete_label#{@count}" %>
                        </td>
                        <td> <%= link_to content.name, user_content_path(user, content) %> </td>
                        <td> <%= link_to 'URL', content.url %> </td>
                        <%#概要は空白の場合の処理も記載%>
                        <td><%= link_to content.description.blank? ? 'None' : content.description, user_content_path(user, content) %></td>


                        <%#カテゴリーは空白の場合の処理も記載%>
                        <td><%= link_to content.category.blank? ? 'None' : content.category, user_content_path(user, content) %></td>
                        <td><%= link_to content.updated_at.to_s(:datetime_jp), user_content_path(user, content) %></td>
                        </tr>
                        <% end %>
                    <% end %>

                    <%#SVG Delete==========================%>
                    <%= f.button user_select_destroy_path, method: :delete,  data_toggle: 'tooltip', data_placement: 'topdo', title: '削除',data: {confirm: "ブックマークを削除します"},class: 'select_submit',local: true do %>
                        <%= embedded_svg('delete.svg', class: "delete")%>
                    <% end %>
                <% end %>
            </tbody>
        </table>

        <%#ページネーション%>
        <div class="my-3 paginate">
            <%= paginate @contents %>
        </div>
    </section>


 <%#SVG +==========================%>
    <%= link_to new_user_content_path, data_toggle: 'tooltip', data_placement: 'topdo', title: '新規作成' do %>
        <%= embedded_svg('plus.svg', class: "plus")%>
    <% end %>

 <%#SVG T====================%>
 <%#SVG Timeline機能未実装====================%>
    <%= link_to new_user_content_path, data_toggle: 'tooltip', data_placement: 'topdo', title: 'タイムライン'  do %>
        <%= embedded_svg('timeline.svg', class: "timeline")%>
    <% end %>
</div>






