<div class="container-sm index mt-md-5">
    <%= render partial: 'layouts/flash' %>

 <%#ユーザー=============================%>
    <section>
        <div class="row user-profile">
            <div class="col-3">
                <% if current_user.user_image.attached? %>
                    <%= image_tag current_user.user_image.variant(resize:'180x180').processed, class: 'user_image' %>
                <% else %>
                    <%= image_tag("user_default.jpeg", :size => "150x150",class: 'default_image') %>
                <% end %>
            </div>
            <div class="col-8 user-discription">
                <h2><%= current_user.name %></h2>
                <p><%= current_user.introduction %></p>
                <div class="row ml-1">
                    <div class="col-4 col-md-3 follow">
                        <%= link_to user_following_users_path, class:'text-dark' do %>
                            フォロー <%= current_user.followings.count %>
                        <% end %>
                    </div>
                    <div class="col-4 col-md-3 follower">
                        <%= link_to user_follower_users_path, class:'text-dark' do %>
                            フォロワー <%= current_user.followers.count %>
                        <% end %>
                    </div>
                </div>
            </div>
            <%= link_to '編集', edit_user_url(current_user), class: 'btn btn-secondary user-edit-btn' %>
        </div>
    </section>

 <%#検索=============================%>
    <section class="search-section">
        <%= search_form_for @q , url: user_contents_path do |f| %>
            <%= f.search_field :name_or_description_or_category_cont, id: 'search-box', class: 'search-box' %>
            <%= f.label :name, for: 'search-box' do %>
                <i class="fas fa-search search-icon"></i>
            <% end %>
            <%= f.submit "検索", id: 'search-submit' %>
        <% end %>
    </section>
 <%#テーブル=============================%>
    <section class="tables">
        <%#タブ===================================%>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#my_book_marks" role="tab"><i class="fas fa-book fa-fw"></i>BookMarks</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#my_favorites" role="tab"><i class="far fa-star fa-fw"></i>MyFavorites</a>
            </li>
        </ul>
        <%#BookMark表示===================================%>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="my_book_marks" role="tabpanel">
                <%= render partial: 'contents/current_user_contents' %>
            </div>
            <div class="tab-pane fade" id="my_favorites" role="tabpanel">
                <%= render partial: 'contents/favorite_contents' %>
            </div>
        </div>
    </section>


 <%#SVG +==========================%>
    <%= link_to new_user_content_path do %>
        <i class="fas fa-plus-circle fa-4x plus" data-toggle="tooltip" title="ブックマークの新規作成"></i>
    <% end %>
 <%#SVG Timeline====================%>
    <%= link_to time_line_index_path do %>
        <i class="fas fa-comments fa-4x timeline" data-toggle="tooltip" title="タイムライン"></i>
    <% end %>
</div>






