<div class="container-sm index">
    <%= render partial: 'layouts/flash' %>
    <section class="content_box">
        <h2>ブックマーク詳細<i class="fas fa-book-open"></i></h2>
        <div class="text-right">
            <% if @comment.exists? %>
                <i class="fas fa-comment fa-2x text-secondary"></i> <%= @comment.count %>
            <% else %>
                <i class="far fa-comment fa-2x text-secondary"></i> <%= @comment.count %>
            <% end %>
        </div>
    <section class="tables show">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th> タイトル </th>
                    <td> <%= @content.name %> </td>
                </tr>
                <tr>
                    <th> URL </th>
                    <td> <%= link_to @content.url %> </td>
                </tr>
                <tr>
                    <th> 投稿説明 </th>
                    <td> <%= if @content.description.blank?
                                'None'
                            else
                                simple_format(h(@content.description),{}, sanitize: false, wrapper_tag: "div")
                            end %>
                    </td>
                </tr>
                <tr>
                    <th> カテゴリー </th>
                    <td> <%=  if @content.category.blank?
                                'None'
                            else
                                @content.category
                            end %></td>
                </tr>
                <th> 投稿公開範囲 </th>
                <td> <%= if @content.private == 1
                        "1.全てのユーザーに投稿を公開"
                        elsif @content.private == 2
                        "2.フォローしているユーザーのみに投稿を公開"
                        elsif @content.private == 3
                        "3.非公開"
                        else
                        "問題があります。管理者へ連絡してください"
                        end%>
                </td>
                <tr>
                    <th> 投稿日時 </th>
                    <td> <%= @content.created_at.to_s(:datetime_jp) %></td>
                </tr>
                <tr>
                    <th> 編集日時 </th>
                    <td><%= @content.updated_at.to_s(:datetime_jp) %></td>
                </tr>
            </tbody>
        </table>
    </section>


 <%#SVG B====================%>
    <%= link_to user_contents_path do %>
        <i class="fas fa-chevron-circle-left fa-4x plus" data-toggle="tooltip" title="もどる"></i>
    <% end %>
 <%#SVG Delete==========================%>
    <%= link_to user_content_path, method: :delete, data: {confirm: "ブックマークを削除します"} do %>
        <i class="fas fa-minus-circle fa-4x delete" data-toggle="tooltip" title="ブックマークの削除"></i>
    <% end %>
 <%#SVG Edit====================%>
    <%= link_to edit_user_content_path do %>
        <i class="fas fa-edit fa-4x timeline" data-toggle="tooltip" title="ブックマークの編集"></i>
    <% end %>
</div>
 <%#コメント表示====================%>
<div class="container">
    <p>コメント:</p>
    <% @comment.each do |comment| %>
        <% user = User.find(comment.user_id) %>
        <% content = Content.find(comment.content_id) %>
            <div class="card mb-1">
                <div class="card-body row">
                    <div class="col-4 col-md-2">
                        <% if user.user_image.attached? %>
                            <%= image_tag user.user_image.variant(resize:'60x60').processed, class: 'd-block mx-auto' %>
                        <% else %>
                            <%= image_tag("user_default.jpeg", :size => "80x80", class: 'd-block mx-auto') %>
                        <% end %>
                        <p class="text-center mt-1"><%= user.name %></p>
                    </div>
                    <div class="col-8 col-md-10 my-auto">
                        <%= comment.comment %>
                    </div>
                    <% if user == current_user || content.user_id == current_user.id %>
                        <%= form_with url: comment_path(comment.id), method: :delete, class: 'w-100', local: true do |f| %>
                            <%= button_tag type: "submit", class: "btn btn-danger float-right mt-1", title: '削除', data: {confirm: "コメントを削除します"} do %>
                                <i class="far fa-comment"></i> コメントの削除
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
    <% end %>
</div>
