<div class="container-sm index">
    <section class="content_box">
        <h2>ブックマーク詳細<i class="fas fa-book-open"></i></h2>
    <section class="tables show">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th> タイトル </th>
                    <td> <%= @content.name %> </td>
                </tr>
                <tr>
                    <th> URL </th>
                    <td> <%= link_to @content.url %> </td>
                </tr>
                <tr>
                    <th> 投稿説明 </th>
                    <td> <%= if @content.description.blank?
                                'None'
                            else
                                simple_format(h(@content.description),{}, sanitize: false, wrapper_tag: "div")
                            end %>
                    </td>
                </tr>
                <tr>
                    <th> カテゴリー </th>
                    <td> <%=  if @content.category.blank?
                                'None'
                            else
                                @content.category
                            end %></td>
                </tr>
                <tr>
                    <th> タグ </th>
                    <td> 未実装 </td>
                </tr>
                <th> 投稿公開範囲 </th>
                <td> <%= if @content.private == 1
                        "1.全てのユーザーに投稿を公開"
                        elsif @content.private == 2
                        "2.フォローしているユーザーのみに投稿を公開"
                        elsif @content.private == 3
                        "3.非公開"
                        else
                        "問題があります。管理者へ連絡してください"
                        end%>
                </td>
                <tr>
                    <th> 投稿日時 </th>
                    <td> <%= @content.created_at.to_s(:datetime_jp) %></td>
                </tr>
                <tr>
                    <th> 編集日時 </th>
                    <td><%= @content.updated_at.to_s(:datetime_jp) %></td>
                </tr>
            </tbody>
        </table>
    </section>


 <%#SVG B====================%>
    <%= link_to user_contents_path, data_toggle: 'tooltip', data_placement: 'topdo', title: '戻る'  do %>
        <i class="fas fa-chevron-circle-left fa-4x plus"></i>
    <% end %>
 <%#SVG Delete==========================%>
    <%= link_to user_content_path, method: :delete, data_toggle: 'tooltip', data_placement: 'topdo', title: '削除',data: {confirm: "ブックマークを削除します"} do %>
        <i class="fas fa-minus-circle fa-4x delete"></i>
    <% end %>
 <%#SVG Edit====================%>
    <%= link_to edit_user_content_path, data_toggle: 'tooltip', data_placement: 'topdo', title: '投稿編集'  do %>
        <i class="fas fa-edit fa-4x timeline"></i>
    <% end %>
</div>
