<section class="index pb-5">
  <div class="row">
    <div class="col-md-8 sign_in" style="max-width:600px;">
      <h2>詳細編集 <%= current_user.name %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(<%= @minimum_password_length %> 文字以上にしてください)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password",class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: 'btn btn-primary p-2 mb-3' %>
        </div>
      <% end %>

      <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "アカウントを削除しますか?" }, method: :delete, class: 'btn btn-primary p-2' %>

    </div>
  </div>
   <%#SVG B====================%>
  <%= link_to user_path(current_user), data_toggle: 'tooltip', data_placement: 'topdo', title: '戻る'  do %>
      <%= embedded_svg('back.svg', class: "plus")%>
  <% end %>

</section>
