<div class="container-sm index mt-5">
    <div class="row content_box">
        <h2 class="ml-3">ユーザー検索<i class="fas fa-search-plus"></i></h2>
    </div>
    <section class="search-section">
        <%= search_form_for @q, url: time_line_search_index_path, local: true do |f| %>
            <%= f.search_field :name_cont, id: 'search-box', class: 'search-box' %>
            <%= f.label :name, for: 'search-box' do %>
                <i class="fas fa-search search-icon"></i>
            <% end %>
            <%= f.submit "検索", id: 'search-submit' %>
        <% end %>
    </section>
    <hr>

    <%= render partial: 'search/user_search' %>

    <%#SVG B====================%>
    <%= link_to time_line_index_path do %>
        <i class="fas fa-chevron-circle-left fa-4x plus" data-toggle="tooltip" title="もどる"></i>
    <% end %>
</div>

<%#= render partial: 'layouts/script' %>