<div class="container-md index time_line">
    <section class="content_box">
        <h2>タイムライン<i class="fas fa-book-open"></i></h2>

        <% @contents.each do |content| %>
            <% user = @users %>
            <section class="card mb-3">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                    <%= link_to user_other_user_path(content.user_id) do %>
                        <div class="my-2">
                            <% if content.user.user_image.attached? %>
                                <%= image_tag content.user.user_image.variant(resize:'100x100',border:'10').processed, class: 'time_line_user_image mx-auto' %>
                            <% else %>
                                <%= image_tag("user_default.jpeg", class: 'time_line_user_image mx-auto', :size => "120x120") %>
                            <% end %>
                        </div>
                        <div class="time_line_user_name my-2">
                            <p><%= content.user.name %></p>
                        </div>
                        <div>
                            <button class="btn btn-primary d-block mx-auto follow">フォロー</button>
                        </div>
                    <% end %>
                    </div>
                    <%= link_to time_line_path(content.id) do %>
                        <div class="col-md-8 card-body user-discription">
                            <div class="content_info">
                                <h3 class="card-title title"><%= content.name %></h3>
                                <% if content.description? %>
                                    <p class="card-text"><%= content.description %></p>
                                <% else %>
                                    <p class="card-text">説明はありません</p>
                                <% end %>
                            </div>
                            <%= link_to content.url, content.url, class: 'd-block card-text' %>
                            <p class="card-text text-right">
                                <time datetime="<%= content.created_at %>">
                                    投稿日時：<%= time_ago_in_words(content.updated_at) %>前
                                </time>
                            </p>
                        </div>
                    <% end %>
                </div>
            </section>
        <% end %>
        <div class="my-3 paginate">
            <%= paginate @contents %>
        </div>
    </section>
     <%#SVG B====================%>
    <%= link_to user_contents_path(current_user.id), data_toggle: 'tooltip', data_placement: 'topdo', title: '戻る'  do %>
        <%= embedded_svg('back.svg', class: "plus")%>
    <% end %>
</div>