<div class="container-md index time_line">
    <%= render partial: 'layouts/flash' %>
    <section>
        <% if @content.private == 2 %>
            <h2>ブックマーク詳細(フォローユーザーのみ公開)<i class="fas fa-book-open"></i></h2>
        <% else %>
            <h2>ブックマーク詳細<i class="fas fa-book-open"></i></h2>
        <% end %>
        <section class="card mb-3">
            <div class="row justify-content-center content_container">
                <div class="col-md-4">
                    <% user = @user %>
                    <%= link_to user_other_user_path(@content.user_id) do %>
                        <div class="my-2">
                            <% if user.user_image.attached? %>
                                <%= image_tag user.user_image.variant(resize:'100x100').processed, class: 'time_line_user_image mx-auto' %>
                            <% else %>
                                <%= image_tag("user_default.jpeg", class: 'time_line_user_image mx-auto', :size => "120x120") %>
                            <% end %>
                        </div>
                        <div class="time_line_user_name my-2">
                            <p><%= user.name %></p>
                        </div>
                    <% end %>
                    <%= render partial: 'layouts/follow_button', locals: {user: user} %>
                </div>
                <div class="col-md-8 card-body user-discription">
                    <div class="content_info mb-2">

                    <% if current_user == user %>
                        <%= link_to user_content_path(@content.id) do %>
                            <% if @content.private == 2 %>
                                <h3 class="card-title title"><%= @content.name %><i class="fa fa-lock mt-n2 ml-3" aria-hidden="true"></i></h3>
                            <% else %>
                                <h3 class="card-title title"><%= @content.name %></h3>
                            <% end %>

                            <% if @content.description? %>
                                <p class="card-text"><%= @content.description %></p>
                            <% else %>
                                <p class="card-text">説明はありません</p>
                            <% end %>
                        <% end %>
                    <% else %>
                            <% if @content.private == 2 %>
                                <h3 class="card-title title"><%= @content.name %><i class="fa fa-lock mt-n2 ml-3" aria-hidden="true"></i></h3>
                            <% else %>
                                <h3 class="card-title title"><%= @content.name %></h3>
                            <% end %>

                            <% if @content.description? %>
                                <p class="card-text"><%= @content.description %></p>
                            <% else %>
                                <p class="card-text">説明はありません</p>
                            <% end %>
                    <% end %>
                    </div>
                    <%= link_to @content.url, @content.url, class: 'd-block card-text url' %>
                    <p class="card-text text-right">
                        <time datetime="<%= @content.created_at %>">
                            投稿日時：<%= time_ago_in_words(@content.updated_at) %>前
                        </time>
                    </p>
                </div>
                <div class="favorites_button">
                    <%= render partial: 'layouts/favorite_button', locals: {content: @content} %>
                </div>
                <div class="comment_info">
                    <%= render partial: 'layouts/comment', locals: {comment: @comment} %>
                </div>
                <%#SVG B====================%>
                <%= link_to time_line_index_path, data_toggle: 'tooltip', data_placement: 'topdo', title: '戻る'  do %>
                    <i class="fas fa-chevron-circle-left fa-4x plus"></i>
                <% end %>
            </div>
        </section>
        <div class="container">
            <p>コメント:</p>
            <% @comment.each do |comment| %>
                <% user = User.find(comment.user_id) %>
                <% content = Content.find(comment.content_id) %>
                    <div class="card mb-1">
                        <div class="card-body row">
                            <div class="col-md-2">
                                <%= link_to user_other_user_path(user)do %>
                                    <% if user.user_image.attached? %>
                                        <%= image_tag user.user_image.variant(resize:'60x60').processed, class: 'd-block mx-auto' %>
                                    <% else %>
                                        <%= image_tag("user_default.jpeg", :size => "80x80", class: 'd-block mx-auto') %>
                                    <% end %>
                                    <p class="text-center mt-1"><%= user.name %></p>
                                <% end %>
                            </div>
                            <div class="col-md-10 my-auto">
                                <%= comment.comment %>
                            </div>
                            <% if user == current_user || content.user_id == current_user.id %>
                                <%= form_with url: comment_path(comment.id), method: :delete, class: 'w-100', local: true do |f| %>
                                    <%= button_tag type: "submit", class: "btn btn-danger float-right mt-1", title: '削除', data: {confirm: "コメントを削除します"} do %>
                                        <i class="far fa-comment"></i> コメントの削除
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
            <% end %>
        </div>

        <div class="row w-100 mx-0 my-5">
            <%= form_with model: @comment, url: comments_path, class: 'w-100', local: true do |f| %>
                <%= f.hidden_field :content_id, value: @content.id %>
                <%= f.text_area :comment, class: "form-control", rows: 5 %>
                <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                    <i class="far fa-comment"></i> コメントする
                <% end %>
            <% end %>
        </div>
    </section>
</div>