<!DOCTYPE html>
<html>
    <head>
		<title>MyBook</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ブックマークを管理して共有できるブックマーク投稿SNSサービス。ブックマークをシェアしあってさらに快適なネットを楽しもう。" />
		<meta name="keywords" content="ブックマーク管理, シェア, SNS" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%#google-web-font nav-brand用%>
		<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
		<%#Font-awasome%>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
	</head>

	<body>
		<header class="nicomoji">
			<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light header-nav">
				<%= link_to "まいぶく", :root, class: 'navbar-brand', data: {"turbolinks"=> false} %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<% if user_signed_in? %>
							<li class="nav-item">
								<%= link_to "ログイン中: #{current_user.name}", user_contents_path(current_user.id), class: 'nav-link' %>
							</li>
							<li class="nav-item">
								<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
							</li>
						<% else %>
							<li class="nav-item">
								<%= link_to "新規登録", root_path, class: 'nav-link', data: { "turbolinks" => false } %>
							</li>
							<li class="nav-item">
								<%= link_to "ログイン", new_user_session_path, class: 'nav-link', data: { "turbolinks" => false } %>
							</li>
						<% end %>
						<% if user_signed_in? %>
							<li class="nav-item">
								<%= link_to notifications_path, class: 'nav-link' do %>
									<% if  unchecked_notifications.any? %>
										Notification<i class="fas fa-bell fa-fw faa-bounce animated text-warning"></i>
									<% else %>
										Notification<i class="fas fa-bell fa-fw"></i>
									<% end %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			</nav>
		</header>
		<%= yield %>
		<footer class="conteiner-fluid nicomoji">
			<div>
				<%= link_to "まいぶく", :root, class: "footer-logo", data: { "turbolinks" => false } %>
			</div>
			<p>Copyright &copy; Gonshiba</p>
		</footer>
		<%= render partial: 'layouts/script' %>
	</body>
</html>
